/*remove default browser margin settings*/
body{margin:0}
#container{
    background-color: rgb(109, 138, 138);
    height: 450px;
    width: 300px;
    border-radius: 8px;
    position: relative;
    top: 90px;
    left: 40%;
}
.screen{
    background-color: #FFFF99;
    width: 270px;
    height: 60px;
    position: relative;
    top: 26PX;
    left: 15px;
}
.screen input{
    position: relative;
    /*left: 2px;
    top: 3px;*/
   
    height: 56px;
    width: 266px;
    color: black;
    background-color: #e5dfa0;
    font-size: 25px;
    text-align: right;

}
.btns{
    position: relative;
    top: 30px;
    left: 3px;
}
.button{
    width: 44px;
    height: 30px;
    border: none;
    border-radius: 7px;
    margin-left: 10px;
    cursor: pointer;
}
.button.black{
    color: #fff;
    background-color: black;
    border-bottom: 2px solid #647489;
    border-top: 2px solid black;

}
.button.silver{
    color: #fff;
    background-color: #515c6b;
    border-bottom: 2px solid black;
}
.button.red{
    color: #FFF;
    background-color: rgb(236, 34, 8);
    border-bottom: 2px solid black;
}
